{% extends 'publishings/index.html' %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center h-50">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="card shadow-lg p-4">
                        <h1 class="text-center mb-4">
                            {% if object %}
                                Редактировать статью
                            {% else %}
                                Добавить статью
                            {% endif %}
                        </h1>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-success w-100">
                                {% if object %}
                                    Сохранить
                                {% else %}
                                    Создать
                                {% endif %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}