{% extends 'publishings/index.html' %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center h-50">
        <div class="card text-center" style="max-width: 18rem;">
            <div class="card-header bg-danger text-white">
                Подтвердить удаление
            </div>
            <div class="card-body">
                <p class="card-text">
                    Вы уверены, что хотите удалить эту статью: {{ client.full_name }}?
                </p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-outline-secondary text-danger">
                        Подтвердить
                    </button>
                    <a href="{% url 'publishings:category_list' %}" class="btn btn-sm btn-secondary">
                        Отмена
                    </a>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}